* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    column-gap: 16px;
    font-size: 13px;
    margin: 10px;
    height: 100px;
}

a {
    text-decoration: none;
    padding-top: 9px;
    color: #202124;
}

button {
    min-width: 96px;
    background: #1a73e8;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 4px;
    height: 36px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

body {
    text-align: center;
    color: #202124;
    display: flex;
    flex-direction: column;
    color: #202124;
}

main {
    padding-top: 140px;
    height: 400px;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:fit-content;
}

#adv_logo {
    height: fit-content;
    text-align: left;
    position: absolute;
    margin: 16px;
}

h3 {
    text-align: left;
    color: #ffa3a7;
    padding: 0px 0px 24px 40px;
    font-weight: 200;
    font-size: 20px;
    height: fit-content;
}

#adv_form {
    text-align: left;
    border-top: solid 1px lightgray;
    padding: 40px;
}

.adv_table {
    height: auto;
    margin-top: 20px;
    margin-left: -5px;
    font-size: 14px;
    width: 100%;
}

#adv_button {
    margin: 5px;
}

.tableinput {
    width: 65%;
    height: 24px;
    margin: 6px;
}

.tableheading {
    width: 16%;
}

#magnifier {
    color: #9aa0a6;
    margin: 12px;
    margin-left: 10px;
}

#search_area {
    padding: 15px;
    height: auto;
}

#searchbar {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #dfe1e5;
    border-width: 1px;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    width: auto;
    max-width: 600px;
}

#searchinput {
    outline: none;
    border: none;
    cursor: auto;
    width: 530px;
    height: 38px;
}

#searchbar:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#submit {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;

}

p {
    font-size: 12px;
    padding: 20px;
}

footer {
    background: #f2f2f2;
    font-size: 14px;
    height: 160px;
    text-align: left;
    color: #70757a;
}

footer > div {
    height: fit-content;
    padding: 16px;
}

.top_footer {
    border-bottom: solid 1px lightgrey;
}

footer > div > a {
    display: inline-flex;
    margin-top: -10px;
    color: #70757a;
    padding-right: 20px;
}